*{
    box-sizing: border-box;
}

header,footer{
    height: 100px;
    clear: both;
}

header,footer,section,article{
    border: 1px solid gray;
}

section{
    height: 350px;
    width: 15%;
    float: left;
}

article{
    height: 350px;
    width: 55%;
    float: left;
}
footer {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
footer a {
  text-decoration: none;
  color: #c63a3a;
}
footer a:hover {
  text-decoration: underline;
  color: #000
}